name: Atlas CD
on:
  push:
    tags:
      - 'v*'

jobs:
  deliver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Atlas
        uses: ariga/setup-atlas@v0
        with:
          cloud-token: ${{ secrets.ATLAS_CLOUD_TOKEN }}

      - name: Approve Plan
        uses: ariga/atlas-action/schema/plan/approve@v1
        with:
          config: file://atlas.hcl
          env: ci
          dev-url: "docker://postgres/15/dev?search_path=public"

      - name: Push Schema
        uses: ariga/atlas-action/schema/push@v1
        with:
          config: file://atlas.hcl
          env: ci
          dev-url: "docker://postgres/15/dev?search_path=public"
